<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.demo.DAO.BlogDao">
    <select id="getBlogByOwner" resultType="blogItem">
        select * from blogTable where owner = #{owner}
    </select>

    <select id="getBlogByType" resultType="blogItem">
        select * from blogTable where type = #{type}
    </select>

    <select id="getBlogByTypeAndOwner" resultType="blogItem">
        select * from blogTable where type = #{type} and owner = #{owner}
    </select>

    <select id="getBlogByOwnerAndTitle" resultType="blogItem">
        select * from blogTable where owner = #{owner} and title = #{title}
    </select>

    <select id="getBlogByTitle" resultType="blogItem">
        select * from blogTable where title = #{title}
    </select>

    <select id="getAllBlog" resultType="blogItem">
        select * from blogTable
    </select>

    <insert id="insertBlog" parameterType="blogItem" useGeneratedKeys="true" keyProperty="id">
        insert  into blogTable(id,link,title,description,owner,type)
        value(#{id},#{link},#{title},#{description,#{owner},#{type})
    </insert>

    <delete id="deleteBlogByTitle" parameterType="String">
        delete from blogTable where title = #{title}
    </delete>

    <delete id="deleteBlogByOwner" parameterType="String">
        delete from blogTable where owner = #{owner}
    </delete>

    <delete id="deleteBlogByType" parameterType="String">
        delete from blogTable where type = #{type}
    </delete>

</mapper>